<!-- mylearning.html -->
<!DOCTYPE html>
<html>
<head>
    <title>My Learning</title>
    <style>
        .videos-container {
            display: flex;
        }
        .video-container {
            width: 560px;
            height: 315px;
            margin-right: 10px;
        }
        .resume-button,
        .restart-button {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    {% if videos %}
        <h1>My Learning</h1>
        <div class="videos-container">
            {% for video in videos %}
                <div class="video-container">
                    <div id="player{{ forloop.counter }}"></div>
                    <p id="duration{{ forloop.counter }}"></p>
                    <p id="percentage{{ forloop.counter }}"></p>
                    <hr>
                    <button class="resume-button" onclick="resumeVideo('{{ video.youtube_id }}', '{{ video.resume_time }}', {{ video.percentage }})">Resume</button>
                    <button class="restart-button" onclick="restartVideo('{{ video.youtube_id }}')">Restart</button>
                </div>
            {% endfor %}
        </div>
        <center><p id="total-duration"></p></center>
    {% else %}
        <p>No videos found.</p>
    {% endif %}

    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        var players = [];
        var totalDuration = 0;

        function onYouTubeIframeAPIReady() {
            {% for video in videos %}
                var player{{ forloop.counter }} = new YT.Player('player{{ forloop.counter }}', {
                    height: '100%',
                    width: '100%',
                    videoId: '{{ video.youtube_id }}',
                    playerVars: {
                    'startSeconds': '{{ video.resume_time }}'
                },
                    events: {
                        'onReady': onPlayerReady{{ forloop.counter }}
                    }
                });
                players.push(player{{ forloop.counter }});
            {% endfor %}
            console.log('YouTube Iframe API is ready');
        }

        {% for video in videos %}
            function onPlayerReady{{ forloop.counter }}(event) {
                var player = event.target;
                var youtubeId = player.getVideoData().video_id;
                var duration = player.getDuration();
                var durationElement = document.getElementById('duration{{ forloop.counter }}');
                durationElement.textContent = 'Duration: ' + formatTime(duration);
                totalDuration += duration;
                updateTotalDuration();

                setInterval(function() {
                    var currentTime = player.getCurrentTime();
                    var percentage = (currentTime / totalDuration) * 100;
                    var percentageElement = document.getElementById('percentage{{ forloop.counter }}');
                    percentageElement.textContent = 'Percentage: ' + percentage.toFixed(2) + '%';
                }, 1000); // Update every second
            }
        {% endfor %}

        function formatTime(time) {
            var minutes = Math.floor(time / 60);
            var seconds = Math.floor(time % 60);
            return minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
        }

        function updateTotalDuration() {
            var totalDurationElement = document.getElementById('total-duration');
            totalDurationElement.textContent = 'Total Duration: ' + formatTime(totalDuration);
        }

        window.addEventListener('beforeunload', function(event) {
            console.log('beforeunload event triggered');
            saveCurrentTimes();
        });

        function saveCurrentTimes() {
            console.log('Saving current times');
            players.forEach(function(player) {
                var youtubeId = player.getVideoData().video_id;
                var currentTime = player.getCurrentTime();
                var duration = player.getDuration();
                var percentage = (currentTime / totalDuration) * 100;
                console.log('Video:', youtubeId, 'Current Time:', currentTime);
                saveCurrentTime(youtubeId, currentTime, percentage);
            });
        }


        function saveCurrentTime(youtubeId, currentTime, percentage) {
            console.log('Saving current time for video:', youtubeId);
            if (currentTime > 0) {
                var url = '/save_time';
                var data = {
                    'youtube_id': youtubeId,
                    'current_time': currentTime,
                    'percentage': percentage
                };
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Current time saved successfully for video:', youtubeId);
                    } else {
                        console.error('Failed to save current time for video:', youtubeId);
                    }
                })
                .catch(error => {
                    console.error('An error occurred while saving current time for video:', youtubeId, error);
                });
            }

        }

        function resumeVideo(youtubeId, resumeTime, previousPercentage) {
            console.log('Resuming video:', youtubeId, 'at time:', resumeTime);
            var player = players.find(function(p) {
                return p.getVideoData().video_id === youtubeId;
            });

            if (player) {
                player.seekTo(resumeTime);
                player.playVideo();

                var duration = player.getDuration();
                var currentPercentage = (resumeTime / duration) * 100;
                var newPercentage = Math.max(currentPercentage, previousPercentage);

                var percentageElement = document.getElementById('percentage' + youtubeId);
                percentageElement.textContent = 'Percentage: ' + newPercentage.toFixed(2) + '%';
            }
        }

        function restartVideo(youtubeId) {
            console.log('Restarting video:', youtubeId);
            var player = players.find(function(p) {
                return p.getVideoData().video_id === youtubeId;
            });

            if (player) {
                player.seekTo(0);
                player.playVideo();
            }
        }

    </script>
</body>
</html>