<!DOCTYPE html>
{% load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Quiz</title>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        .header_title {
            /* width: 100%; */
            padding-left: 1.8rem;
            /* float: left; */
        }

        .header_title .font_normal {

            width: 100%;
            /* float: left; */
            font-weight: 400;
            font-size: 40px;
            margin: 0;
            color: black;
        }

        .colored-box1 {
            color: rgb(17, 0, 255);
        }


        .logo {
            right: 62px;
            position: relative;
            right: 10;
            height: 61px;
            float: right;
            margin-right: 10px;
            width: 86px;
        }

        .logo1 {
            /* width: 400px; */
            height: 400px;
            /* float:right; */
        }

        .highlight {
            background-color: none;
            font-weight: bold;
            /* background-color: rgb(4, 255, 0); */
        }
    </style>
    <style>
        /* .header_title,
        font_normal {
            width: 100%;
            /* float: left; */
        /* margin-top: 90px;
            font-size: 20px;
            color: #6495ed; */
        /* } */



        p {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        .header_title {

            width: 100%;
            /* float: left; */

        }

        .header_title .font_normal {

            width: 100%;
            /* float: left; */
            font-weight: 400;
            font-size: 40px;
            margin: 0;
            color: black;
            margin-left: -8px;
        }
        .question {
            margin-left: 13px; /* Set a fixed margin value */
        }

        .align{
            margin-left: -8px;
        }

        .timer {
            position: fixed;
            top: 90px;
            right: 400px;
        }

        /* Disable text selection */
        body {
            -webkit-user-select: none; /* Safari */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
        }

    </style>
    <script>
        // Disable right-click
        document.addEventListener('contextmenu', function(e) {
            e.preventDefault();
        });
    </script>
</head>

<body>
    <main>
        <div class="timer" id="timer"></div>
        <div class="email_form">
            <form id="quiz-form" onsubmit="disableLeaveSiteMessage()" method="POST" action="result">
                {% csrf_token %}
                <div id="app">
                    <div class=" mt-5">
                        <div class="p-3 row">
                            <div class="col-md-8 pl-5">
                                <div class="header_title">
                                     <!-- //This class defines the name of the project -->
                                    <h1 class="font_normal ">SWITCHING TECH <span class="colored-box1">SYSTEMS</span>
                                    </h1>
                                    <h4 class=" mt-4 align">QUIZ PAGE</h4>
                                </div>
                                <div v-if="currentQuestion === index" v-for="(question, index) in questions"
                                    class=" mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">Question [[index + 1]]</h5>
                                        <p class="card-text">[[question.question]]</p>
                                        <div class="form-check" v-for="(answer, answerIndex) in question.answers">
                                            <input type="radio"
                                                @change="checkAnswer($event, question.uid, answer.is_correct)"
                                                :value="answer.answer" :name="'question-' + question.uid"
                                                class="form-check-input" required
                                                :id="'option-' + question.uid + '-' + answerIndex"
                                                :checked="selectedOptions[question.uid] === answer.answer">
                                            <label class="form-check-label"
                                                @click="selectOption(question.uid, answer.answer)">
                                                [[answer.answer]]
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- //The below code defines the previous,next,submit and skip buttons in the questions page. -->
                                <center>
                                    <button v-if="currentQuestion > 0" type="button" class="btn btn-secondary" @click="previousQuestion">Previous</button>
                                    <button v-if="currentQuestion < questions.length - 1" type="button" class="btn btn-primary" @click="nextQuestion">Next</button>
                                    <button v-if="currentQuestion === questions.length - 1" type="button" class="btn btn-danger" id="submit-btn" @click="submitQuiz($event)">Submit</button>
<!--                                    <button type="button" class="btn btn-warning" @click="skipQuestion">Skip</button>-->

                                </center>
                            </div>
                            <!-- //The below code defines the quiz page logo. -->
                            <div class="col-md-4">
                                <img class="logo"
                                    src="https://static.ambitionbox.com/assets/v2/images/rs:fit:200:200:false:false/bG9jYWw6Ly8vbG9nb3Mvb3JpZ2luYWxzL3JhdG5hLWdsb2JhbC10ZWNobm9sb2dpZXMuanBn.webp"
                                    alt="Logo">
                                <img width="100%" class="logo1" src="{% static 'images\Quiz.png' %}" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>

<!--            <div id="errorModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"-->
<!--                aria-hidden="true">-->
<!--                <div class="modal-dialog" role="document">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                            <h5 class="modal-title" id="errorModalLabel">Error</h5>-->
<!--                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                <span aria-hidden="true">&times;</span>-->
<!--                            </button>-->
<!--                        &lt;!&ndash; </div>-->
<!--                        //The below class defines the pop up if question didnot get answered. &ndash;&gt;-->
<!--                        <div class="modal-body">-->
<!--                            <p>Please select an answer before proceeding.</p>-->
<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


            <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
            <script>
              var countdown = {{ new_timer }}; // Total time in seconds
              var timerDisplay = document.getElementById('timer');

              function updateTimer() {
                var minutes = Math.floor(countdown / 60);
                var seconds = countdown % 60;

                // Format the time with leading zeros
                var formattedTime = minutes.toString().padStart(2, '0') + ':' + seconds.toString().padStart(2, '0');

                timerDisplay.textContent = "Time Remaining: " + formattedTime; // Update the text content of the timer display element

                if (countdown === 0) {
                  submitQuiz1(null, false);
                } else {
                  countdown--;
                  setTimeout(updateTimer, 1000);
                }
              }

              console.log('updateTimer() called');
              updateTimer();

              function submitQuiz1(event, showErrorModal = true) {
                event && event.preventDefault();
                const currentQuestionUid = app.questions[app.currentQuestion].uid;
<!--                if (showErrorModal && !app.selectedOptions[currentQuestionUid] && app.currentQuestion !== app.questions.length) {-->
<!--                  $('#errorModal').modal('show');-->
<!--                  return;-->
<!--                }-->

                const scoreData = { score: app.score, category: app.category };
                const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value; // get the CSRF token from the page

                const formData = new FormData();
                formData.append('score', app.score);

                fetch(`/api/result/`, {
                  method: 'POST',
                  body: JSON.stringify(scoreData),
                  headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken, // include the CSRF token in the request headers
                  }
                }).then(response => {
                  console.log('Score submitted successfully');
                  window.location.href = "/final/";
                }).catch(error => {
                  console.error('Error submitting score:', error);
                });
              }


              console.log('Vue.js code loaded');
              console.log('Category:', '{{ category }}');
              var app = new Vue({
                el: '#app',
                delimiters: ['[[', ']]'],
                data() {
                  return {
                    category: '{{ category }}',
                    questions: [],
                    score: 0,
                    currentQuestion: 0,
                    selectedOptions: {} // object to store selected options for each question
                  };
                },

                methods: {
                  getQuestions() {
                    var _this = this;
                    fetch(`/api/get-quiz/?category=${_this.category}`)
                      .then(response => response.json())
                      .then(result => {
                        console.log(result);
                        _this.questions = result.data;
                      });
                  },

                  checkAnswer(event, uid, isCorrect) {
                    if (isCorrect) {
                      this.score++;
                    }
                    this.selectedOptions[uid] = event.target.value; // Store the selected option for the current question
                  },

                  selectOption(questionUid, answer) {
                    this.selectedOptions[questionUid] = answer;
                    const radioId = 'option-' + questionUid + '-' + this.questions[this.currentQuestion].answers.findIndex(ans => ans.answer === answer);
                    document.getElementById(radioId).click();
                  },

                  nextQuestion() {
                    const currentQuestionUid = this.questions[this.currentQuestion].uid;
<!--                    if (!this.selectedOptions[currentQuestionUid]) {-->
<!--                      $('#errorModal').modal('show');-->
<!--                      return;-->
<!--                    }-->
                    this.currentQuestion++;
                  },

                  previousQuestion() {
                    this.currentQuestion--;
                  },

                  skipQuestion() {
                    if (this.currentQuestion === this.questions.length - 1) {
                      this.submitQuiz(null, false); // If it's the last question, call the submitQuiz method without showing the error modal
                    } else {
                      const currentQuestionUid = this.questions[this.currentQuestion].uid;
                      this.selectedOptions[currentQuestionUid] = null; // Set the selected option for the current question to null
                      this.currentQuestion++; // Move to the next question
<!--                      $('#errorModal').modal('hide'); // Hide the error modal if it was displayed-->
                    }
                  },

<!--                  showConfirmation() {-->
<!--                    if (confirm("Are you sure you want to submit the quiz?")) {-->
<!--                      this.submitQuiz(null, false); // To confirm the quiz submission without showing the error modal-->
<!--                    }-->
<!--                  },-->

                  submitQuiz(event, showErrorModal = true) {
                    event && event.preventDefault();
                    const currentQuestionUid = this.questions[this.currentQuestion].uid;
<!--                    if (showErrorModal && !this.selectedOptions[currentQuestionUid] && this.currentQuestion !== this.questions.length) {-->
<!--                      $('#errorModal').modal('show');-->
<!--                      return;-->
<!--                    }-->
                    const scoreData = { score: this.score, category: this.category };
                    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value; // get the CSRF token from the page
                    console.log(JSON.stringify(scoreData));

                    const formData = new FormData();
                    formData.append('score', this.score);

                    fetch(`/api/result/`, {
                      method: 'POST',
                      body: JSON.stringify(scoreData),
                      headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken, // include the CSRF token in the request headers
                      }
                    }).then(response => {
                      console.log('Score submitted successfully');
                      window.location.href = "/final/";
                    }).catch(error => {
                      console.error('Error submitting score:', error);
                    });
                  },
                },

                created() {
                  this.getQuestions();
                  console.log('Loaded');
                },
              });
            </script>

            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        </div>
    </main>
</body>

</html>