{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  <title>Team Mebers</title>
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
  <link href="{% static 'css/history.css' %}" rel="stylesheet">

</head>

<body>
  <div class="container">
    <header class="row">
      <div class="col-md-8">
        <h1 class="header_title pt-3" style="margin-left: 150px;">SWITCHING TECH <span class="header_title1">SYSTEMS</span></h1>
      </div>
      <div class="col-md-4">
        <img class="logo-main" src="{% static 'images/ratnaglobal_logo.png' %}" />
      </div>
    </header>
    <div class="row">
      <div class="col-md-7 pt-3">
        <h1 class="quiz-history-title " style="float: left; margin-left: 150px;">Employee list</h1>
      </div>
      <div class="col-md-5 pt-3">
        <button onclick="goBack()" class="btn btn-primary" style="float: right; margin-right: 150px;">Go Back</button>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-2">
    <div class="col-md-8 mx-auto quiz-history-container">
      {% if no_data %}
      <div class="quiz-history-card">
        <h5 class="card-title">Not assigned</h5>
      </div>
      {% else %}
      {% for user in user_list %}
      <div class="quiz-history-card">
        {{user.username}} <br>
        {{user.email}}
        <button onclick="fetchListUser()" class="btn btn-primary" style="float: right; margin-right: 150px;">Add user</button>
      </div>
      {% endfor %}

      {% endif %}
    </div>
  </div>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>

</body>

</html>