body {
  font-family: 'Arial', sans-serif;
}

.quiz-history-container {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 5px;
  animation: fadeInUp 0.8s ease;
}

.quiz-history-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  animation: slideInDown 0.8s ease;
}

.quiz-history-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: slideInUp 0.8s ease;
}

.quiz-history-card-text {
  margin-bottom: 10px;
  font-size: 16px;
}

/* CSS animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0);
  }
}

