body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

.videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-container {
  width: 300px;
  height: 380px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #f9f9f9;
}

.video-container h2 {
  font-size: 18px;
  color: #333;
  margin-top: 0;
}

.video-player {
  width: 100%;
  height: 200px;
}

.video-details {
  margin-top: 10px;
}

.video-details p {
  margin: 5px 0;
  color: #777;
}

.resume-button,
.restart-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.resume-button:hover,
.restart-button:hover {
  background-color: #0056b3;
}

#total-duration {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}
.note {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
  font-style: italic;
}
.home-button {
  position: absolute;
  top: 10px;
  right: 100px;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #555;
}

.home-button:active {
  background-color: #777;
}
